@{
    ViewData["Title"] = "E2E Demo App";
}

<div class="text-center" style="background:@ViewBag.Colour;">
    <h1 class="display-4">The Cube of @ViewBag.Number is @ViewBag.Result  !!!</h1>
    <p>@ViewBag.Colour version</p>
    <p>Hooray!!!</p>
    small change
</div>
